
<form class="form-horizontal" method="post"> 
  <fieldset>     <legend>用户登陆</legend> 
    <div class="control-group">       <label class="control-label" for="username">用户名</label> 
      <div class="controls"> 
<<<<<<< HEAD
        <input type="text" class="input-xlarge" id="username" name="username">     
=======
        <input type="text" class="input-xlarge" id="host_id" name="host_id">     
>>>>>>> 404bb80eaaaf4cd1ff0eb37e4b7140eff3976b4c
      </div> 
    </div> 
    <div class="control-group">       <label class="control-label" for="password">口令</label> 
      <div class="controls"> 
        <input type="password" class="input-xlarge" id="password" name="password"> 
      </div> 
       </div> 
    </div> 
    <div class="form-actions">       <button type="submit" class="btn btn-primary">登陆</button>     </div> 
  </fieldset> 
</form> 
