<form class="form-horizontal" method="post"> 
  <fieldset>     <legend>login</legend> 
	<div class="control-group">       <label class="control-label" for="username">username</label> 
      <div class="controls"> 
        <input type="text" class="input-xlarge" id="host_id" name="host_id">     
      </div> 
    </div> 
    <div class="control-group">       <label class="control-label" for="password">content</label> 
      <div class="controls"> 
        <input type="text" class="input-xlarge" id="msg_des" name="msg_des"> 
      </div> 
       </div> 
	   <div class="control-group">       <label class="control-label" for="password">title</label> 
      <div class="controls"> 
        <input type="text" class="input-xlarge" id="msg_topic" name="msg_topic"> 
      </div> 
       </div> 
	   <div class="control-group">       <label class="control-label" for="password">classification</label> 
      <div class="controls"> 
        <input type="text" class="input-xlarge" id="classification" name="classification"> 
      </div> 
       </div> 
    <div class="form-actions">       <button type="submit" class="btn btn-primary">µÇÂ½</button>     </div> 
  </fieldset> 
</form> 