<form class="form-horizontal" method="post"> 
<<<<<<< HEAD
  <fieldset>     <legend>用户登陆</legend> 
    jesteyesystem.outpdsfoialdfggnoifjhapegvblkn
	<div class="control-group">       <label class="control-label" for="username">用户名</label> 
=======
  <fieldset>     <legend>login</legend> 
	<div class="control-group">       <label class="control-label" for="username">username</label> 
>>>>>>> 404bb80eaaaf4cd1ff0eb37e4b7140eff3976b4c
      <div class="controls"> 
        <input type="text" class="input-xlarge" id="host_id" name="host_id">     
      </div> 
    </div> 
<<<<<<< HEAD
    <div class="control-group">       <label class="control-label" for="password">消息内容</label> 
=======
    <div class="control-group">       <label class="control-label" for="password">content</label> 
>>>>>>> 404bb80eaaaf4cd1ff0eb37e4b7140eff3976b4c
      <div class="controls"> 
        <input type="text" class="input-xlarge" id="msg_des" name="msg_des"> 
      </div> 
       </div> 
<<<<<<< HEAD
	   <div class="control-group">       <label class="control-label" for="password">消息标题</label> 
=======
	   <div class="control-group">       <label class="control-label" for="password">title</label> 
>>>>>>> 404bb80eaaaf4cd1ff0eb37e4b7140eff3976b4c
      <div class="controls"> 
        <input type="text" class="input-xlarge" id="msg_topic" name="msg_topic"> 
      </div> 
       </div> 
<<<<<<< HEAD
	   <div class="control-group">       <label class="control-label" for="password">帖子分类</label> 
=======
	   <div class="control-group">       <label class="control-label" for="password">classification</label> 
>>>>>>> 404bb80eaaaf4cd1ff0eb37e4b7140eff3976b4c
      <div class="controls"> 
        <input type="text" class="input-xlarge" id="classification" name="classification"> 
      </div> 
       </div> 
<<<<<<< HEAD
    </div> 
=======
>>>>>>> 404bb80eaaaf4cd1ff0eb37e4b7140eff3976b4c
    <div class="form-actions">       <button type="submit" class="btn btn-primary">登陆</button>     </div> 
  </fieldset> 
</form> 